body {
    font-family: Arial, sans-serif;
    background-color: #FFE4E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #778899;
}

#new-todo {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

#add-todo {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    background-color: #3CB371; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li span {
    flex-grow: 1; 
    margin-left: 10px; 
    margin-right: 10px; 
}

li button {
    font-size: 18px; 
    color: #F08080; 
}
